<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ profile }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/custom.css" %}" />


    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  </head>
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				<div align="center">
					<a class="navbar-brand"> <p>Cyber Security Game </p>  <h> </h>  </a> 
			
			</div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</div>
</nav>

 <div class="container">
	<div class="jumbotron">
			<div id = "content">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				Please Wait ....
			</div>
			
	</div>
</div>
<script>
var content="";
content += "";
content += "	<center><h2>";
content += "Trial: {{ trialnumber }} <br> ";
content += "		You are the {{ profile }}.<br>";
content += "<\/h2><p>";
content += "<b>Feedback:<\/b><br>";
content += "";
content += "Analyst Choice: <b>{{choice_a}} <\/b>";
content += " &emsp;";
content += " Hacker's Choice: <b>{{ choice_h }} <\/b>";
content += " <br>";
content += "Analyst Earned: <b>{{extra_a}} <\/b>";
content += " &emsp;";
content += " Hacker Earned: <b>{{ extra_h }} <\/b>";
content += " <br>";
content += "Analyst Total: <b>{{score_a}} <\/b>";
content += "&emsp;";
content += " Hacker's Total: <b>{{score_h}} <\/b>";
content += "  <br>";
content += "<\/p>";
content += "<center> <b>Payoff Matrix <\/b><\/center><br>";
content += "<center> <b> Hacker <\/b> <\/center>";
content += "";
content += "<TABLE BORDER=\"3\"    WIDTH=\"50%\"   CELLPADDING=\"4\" CELLSPACING=\"1\">";
content += "	<caption align=\"left\" font-weight: \"bold\" color:\"#000000\" >  <span style=\"color:#000000\">Analyst <\/span> <\/caption>";
content += "    ";
content += "   <TR>";
content += "      <TH>  <\/TH>";
content += "      <TH> Attack <\/TH>";
content += "      <TH>Don't Attack<\/TH>";
content += "   <\/TR>  ";
content += "   <TR>";
content += "	  <TH> Defend <\/TH> ";
content += "      <TH>{{a1}} , {{h1}}<\/TH>";
content += "      <TH>{{a2}} , {{h2}}<\/TH>";
content += "   <\/TR>";
content += "   <TR>";
content += "	   <TH> Don't Defend <\/TH>  ";
content += "      <TH>{{a3}} , {{h3}}<\/TH>";
content += "      <TH>{{a4}} , {{h4}}<\/TH>";
content += "   ";
content += "   <\/TR>";
content += "<\/TABLE>";
content += " ";
content += "";
content += "";
content += " <center><b><p>";
content += "<br>Please choose between the following actions:<\/b><br><\/center><\/p>";
content += "";
content += "<div class=\"container\">";
content += "    <div class=\"row\"><center>";
content += "        <div class=\"col-xs-6\">";
content += "			<form action=\"\/defend_eval\/0\/\" method=\"get\">";
content += "			<input type=\"submit\" value=\"Defense\" style=\"height:75px; width:250px\">";
content += "			<\/form>";
content += "		<\/div>";
content += "     <div class=\"col-xs-6\">";
content += "		<form action=\"\/defend_eval\/1\/\" method=\"get\">";
content += "		<input type=\"submit\" value=\"No Defence\" style=\"height:75px; width:250px\">";
content += "		<\/form>";
content += "      <\/div>";
content += "    <\/div>";
content += "<\/div> <\/center>";
content += "";
content += "<\/div>";
content += "		";
content += "<\/div>";

	setInterval(function () {$("#content").html(content)}, 3000);
</script>
<hr>

	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; Nidhi Makhijani</p>
			</footer>
		</div>
	</div>
</body>
</html>

</body>
</html>
