<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ profile }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/custom.css" %}" />


    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
  
    <style type="text/css">
		TH.topt {border-top: thin solid black;}
		TH.rightt {border-right: thin solid black;}
		TH.leftt {border-left: thin solid black;}
		TH.bottomt {border-bottom: solid black thin;}
		TH.top {border-top: solid black;}
		TH.right {border-right: solid black;}
		TH.left {border-left: solid black;}
		TH.bottom {border-bottom: solid black;}
    </style>
    
  </head>
  
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				<div align="center">
					<a class="navbar-brand"> <p>Cyber Security Game </p>  <h> </h>  </a> 
			
			</div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</div>
</nav>

 <div class="container">
	<div class="jumbotron">
			<div id = "content">
<center><h2>
Trial: {{ trialnumber }} <br> 
You are the {{ profile }}.<br>
</h2><p>
<b>Feedback:</b><br>
Analyst Choice: <b>{{choice_a}} </b>
 &emsp;
 Hacker's Choice: <b>{{ choice_h }} </b>
 <br>
Analyst Earned: <b>{{extra_a}} </b>
 &emsp;
 Hacker Earned: <b>{{ extra_h }} </b>
 <br>
Analyst Score: <b>{{score_a}} </b>
&emsp;
 Hacker's Score: <b>{{score_h}} </b>
 <br>
</p>
 <center> <b>Payoff Matrix </b><br><br>
 <div class = "row">
<TABLE WIDTH="500px"   CELLPADDING="4" CELLSPACING="1">
	 
	<TR>
		<TH></TH>
		<TH></TH>
		<TH><B>Hacker</B></TH>
		<TH></TH>
	</TR>
	<TR>
		<TH></TH> 
      <TH class="rightt bottomt top left"></TH>  
      <TH class="rightt bottomt top leftt"> Attack </TH>
      <TH class="right bottomt top leftt">Don't Attack</TH>
   </TR>  
   <TR>
	   <TH><B>Analyst</B></TH>
	  <TH class="rightt bottomt topt left"> Defend </TH> 
      <TH class="rightt bottomt topt leftt">{{a1}} , {{h1}}</TH>
      <TH class="right bottomt topt leftt">{{a2}} , {{h2}}</TH>
   </TR>
   <TR>
	   <TH></TH>
	   <TH class="rightt bottom topt left"> Don't Defend </TH>  
      <TH class="rightt bottom topt leftt">{{a3}} , {{h3}}</TH>
      <TH class="right bottom topt leftt" >{{a4}} , {{h4}}</TH>
   </TR>   
</TABLE>
</div>
</center><br>


<p>
<br>Please choose between the following actions:</b><br></center></p>

<div class="container">
    <div class="row"><center>
        <div class="col-xs-6">
	  
       <button class="btn btn-default" style = "height:50px; width:150px" type="button" onclick="defend()">Defence</button>
	   
	  </div>
     <div class="col-xs-6">
       <button class="btn btn-default" style = "height:50px; width:150px" type="button" onclick="notdefend()">No Defence</button>
	 </form>
      </div>
    </div></center>

				</div>
			
	</div>
</div>
<script>
	
wait =  "<center>\
 Opponent player is playing his move.<br>\
 <img src = \"{% static "waiting.gif" %}\" </center>"
 
 
  function notdefend(){
  $("#content").html(wait); 
  setInterval(function() {
      window.location.href = "/defend_eval/1/";
  }, 3000);
  }
  function defend(){
  $("#content").html(wait);
  setInterval(function() {
      window.location.href = "/defend_eval/0/";
  }, 3000);
  }
</script>

<hr>

	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; Nidhi Makhijani</p>
			</footer>
		</div>
	</div>
</body>
</html>

</body>
</html>
