<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ profile }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
	    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/custom.css" %}" />


    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>


</head>

<body>

<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				<div align="center">
					<a class="navbar-brand"> <p>Cyber Security Game</p>  <h> </h>  </a> 
			
			</div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</div>
</nav>

 <div class="container">
	<div class="jumbotron">
		
	<center><h2>
Trial: {{ trialnumber }} <br> 
		You are the {{ profile }}.<br>
</h2><p>
<b>Feedback:</b><br>

Analyst Choice: <b>{{choice_a}} </b>
 &emsp;
 Hacker's Choice: <b>{{ choice_h }} </b>
 <br>
Analyst Earned: <b>{{extra_a}} </b>
 &emsp;
 Hacker Earned: <b>{{ extra_h }} </b>
 <br>
Analyst Total: <b>{{score_a}} </b>
&emsp;
 Hacker's Total: <b>{{score_h}} </b>
  <br>
</p>
<center> <b>Payoff Matrix </b></center><br>
<center> <b> Hacker </b> </center>

<TABLE BORDER="3"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="1">
	<caption align="left" font-weight: "bold" color:"#000000" >  <span style="color:#000000">Analyst </span> </caption>
    
   <TR>
      <TH>  </TH>
      <TH> Attack </TH>
      <TH>Don't Attack</TH>
   </TR>  
   <TR>
	  <TH> Defend </TH> 
      <TH>{{a1}} , {{h1}}</TH>
      <TH>{{a2}} , {{h2}}</TH>
   </TR>
   <TR>
	   <TH> Don't Defend </TH>  
      <TH>{{a3}} , {{h3}}</TH>
      <TH>{{a4}} , {{h4}}</TH>
   
   </TR>
</TABLE>
 


 <center><b><p>
<br>Please choose between the following actions:</b><br></center></p>

<div class="container">
    <div class="row"><center>
        <div class="col-xs-6">
			<form action="/defend_eval/0/" method="get">
			<input type="submit" value="Defense" style="height:75px; width:250px">
			</form>
		</div>
     <div class="col-xs-6">
		<form action="/defend_eval/1/" method="get">
		<input type="submit" value="No Defence" style="height:75px; width:250px">
		</form>
      </div>
    </div>
</div> </center>

</div>
		
</div>
<hr>

	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; Nidhi Makhijani</p>
			</footer>
		</div>
	</div>

</body>
</html>
 
