 <!DOCTYPE html>
 <html>
 <head>
   <link rel="shortcut icon" href="http://faviconist.com/icons/60f3fd43c72b6f802bdadb500c8c6123/favicon.ico" />
    <meta charset="utf-8" />
     <title>Game Over</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	    
    
	    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" />
	 <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/custom.css" %}" />


    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    
    
<style type="text/css">
    body{
    	padding-top: 70px;
    }
</style>
</head>

<body>

<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				<div align="center">
					<a class="navbar-brand"> <p>Cyber Security Game</p>  <h> </h>  </a> 
			
			</div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="jumbotron">
	<h2>Survey</h2><br>
<center>
<p> Before you can get Rs. 20, we would like you to fill out the following questionnaire as honestly as possible </p></center>

<form action="/exitgame/" method="POST" id="feedback">

 
<div class="form-group">
<label>Please describe in your own words the strategy that you played  </label>
<textarea class ="form-control" row="5" form="feedback" name="ownstrategy" required="required" ></textarea>
</div>



<div class="form-group">
<label>Please describe in your own words the strategy that you think your opponent played </label>
<textarea class ="form-control" row="5" form="feedback" name="oppstrategy" required="required"></textarea>
</div>

<br>
<div class="form-group">
<label>How feedback about your opponent's actions and outcomes influenced your decisions</label>
<textarea class ="form-control" row="5" form="feedback" name="influence" required="required"></textarea>
</div>


<input type="submit" value="Submit">

</form>
<br>

</div>
<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; Nidhi Makhijani</p>
			</footer>
		</div>
	</div>
</div>




</body>
</html>
