<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="http://faviconist.com/icons/60f3fd43c72b6f802bdadb500c8c6123/favicon.ico" />
    <meta charset="utf-8" />
    <title> Instructions </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
	    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" />
	 <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/custom.css" %}" />


    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <style type="text/css">
		TH.topt {border-top: thin solid black;}
		TH.rightt {border-right: thin solid black;}
		TH.leftt {border-left: thin solid black;}
		TH.bottomt {border-bottom: solid black thin;}
		TH.top {border-top: solid black;}
		TH.right {border-right: solid black;}
		TH.left {border-left: solid black;}
		TH.bottom {border-bottom: solid black;}
    </style>
</head>

<body>

<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				<div align="center">
					<a class="navbar-brand"> <p>Cyber Security Game</p>  <h> </h>  </a> 
			
			</div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="jumbotron">
		<center> <h1>Instructions</h1> </center>
		<p>Welcome! This study consists of a single task, where you will be randomly matched with an anonymous individual from a pool of online participants. Both you and the other player will have the opportunity to earn money according to the decisions you make in this task. However, there is no payment unless you fully complete the task.</p>
			<p><b>Please read the following scenario:</b><br>
Shoppers.com is a company that sells a number of items online including clothes, books, and electronic devices. The company has a large number of customers that perform online transactions using the company’s website that is installed on the company’s Webserver. 
	The Hacker tries to steal information from the Webserver and damage files on the Webserver that are important to Shoppers.com. Shoppers.com has hired a security analyst in order to help the company protect its customer's data against the cyber-attacks waged by the Hacker. </p>
<p>You will play role of <b>{{profile}}</b>. You and your opponent will make multiple decisions sequentially in multiple trials. Your payoffs in each trial will depend on what both you and your opponent do. 
<br>The Hacker may choose between the following two actions: <b>Attack</b> or <b>Not Attack</b>. The Attack action means that the Hacker attacks Shoppers.com’s Webserver to steal information and damage files. The Not Attack action means that the Hacker does not attack Shoppers.com. <br><br>
The Analyst may choose between the following two actions: <b>Defend</b> or <b>Not Defend</b>. The Defend action means that the Analyst protects Shoppers.com’s Webserver against the Hacker’s actions. The Not Defend action means that the Analyst decides not to defend Shoppers.com’s Webserver.<br> <br>
After the Analyst and the Hacker have taken an action, both the Hacker and Analyst receive the following feedback: the actions taken by each other and the payoffs that results from those actions. After every move, feedback is received, the Hacker and the Analyst start a new trial and take one of the two actions again.<br>
Figure below lists the payoffs for different combinations of actions taken by the Hacker and the Analyst.</p>
 	

<center> <b>Payoff Matrix </b><br><br>
 <div class = "row">
<TABLE WIDTH="500px"   CELLPADDING="4" CELLSPACING="1">
	 
	<TR>
		<TH></TH>
		<TH></TH>
		<TH><B>Hacker</B></TH>
		<TH></TH>
	</TR>
	<TR>
		<TH></TH> 
      <TH class="rightt bottomt top left"></TH>  
      <TH class="rightt bottomt top leftt"> Attack </TH>
      <TH class="right bottomt top leftt">Not Attack</TH>
   </TR>  
   <TR>
	   <TH><B>Analyst</B></TH>
	  <TH class="rightt bottomt topt left"> Defend </TH> 
      <TH class="rightt bottomt topt leftt">{{a1}} , {{h1}}</TH>
      <TH class="right bottomt topt leftt">{{a2}} , {{h2}}</TH>
   </TR>
   <TR>
	   <TH></TH>
	   <TH class="rightt bottom topt left"> Not Defend </TH>  
      <TH class="rightt bottom topt leftt">{{a3}} , {{h3}}</TH>
      <TH class="right bottom topt leftt" >{{a4}} , {{h4}}</TH>
   </TR>   
</TABLE>
</div>
</center><br>

	<b><p><ul>


		<li> If the Hacker takes an Attack action and the Analyst takes a Defend action, then the Hacker gets {{ h1 }} points and the Analyst gets {{ a1 }} points. </li>
<br> 
		 <li>If the Hacker takes an Attack action and the Analyst takes a Not Defend action, then the Hacker gets {{ h3 }} points and the Analyst gets {{ a3 }} points. </li>
</br> 
		 <li>If the Hacker takes a Not Attack action and the Analyst takes a Defend action, then the Hacker gets {{ h2 }} points and the Analyst gets {{ a2 }} points.</li>
 </br> 
		 <li>If the Hacker takes a Not Attack action and the Analyst takes a Not Defend action then, both the Hacker and Analyst get {{ h4 }} points each.</li>
</p></b>	


</ul>

<br><br>
	<center> <form action="/initgame/" method="POST">
			<input type="submit" value="Start Game" style="height:50px; width:150px">
			</form> <center>
			
	</div>
	

		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; Nidhi Makhijani</p>
			</footer>
		</div>
	</div>
</div>

</body>
</html>
